@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,700');
h1 {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  letter-spacing: 0px;
  color: #3f3f3f;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 1.4em;
  color: #3f3f3f;
}
h3 {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  letter-spacing: 0px;
  color: #3f3f3f;
}
h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  letter-spacing: 0px;
  line-height: 1.3em;
  color: #3f3f3f;
}
h5 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 5px;
  line-height: 2em;
  color: #3f3f3f;
}
p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  color: #3f3f3f;
}
@media (max-width: 728px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
}
.white {
  color: white;
}
.center {
  text-align: center;
  margin: 0 auto;
}
.fullvwwidth {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.sub1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 5px;
}
.sub2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 0px;
  line-height: 1.8em;
}
.sub3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.6em;
  text-align: center;
  letter-spacing: 0px;
  line-height: 1.8em;
  color: #3f3f3f;
}
.sub4 {
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.6em;
  text-align: center;
  letter-spacing: 0px;
  line-height: 1.8em;
  color: #3f3f3f;
}
@media (max-width: 728px) {
  .sub2 {
    font-size: 1em;
  }
}
.gray {
  color: #3f3f3f;
}
.fullwidth {
  width: 100%;
}
.tenpad {
  padding: 10px;
}
.twentypad {
  padding: 20px;
}
.thirtypad {
  padding: 30px;
}
.fourtypad {
  padding: 40px;
}
.fiftypad {
  padding: 50px;
}
.padtop {
  padding-top: 90px;
}
.heavypadtop {
  padding-top: 200px;
}
.padbottom {
  padding-bottom: 90px;
}
.heavypadbottom {
  padding-bottom: 200px;
}
@media (max-width: 600px) {
  .padtop {
    padding-top: 30px;
  }
  .padbottom {
    padding-bottom: 30px;
  }
  .heavypadtop {
    padding-top: 60px;
  }
  .heavypadbottom {
    padding-bottom: 60px;
  }
}
.roundcorner {
  border-radius: 10px;
}
.workstarter {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.workstarterchild1 {
  flex-grow: 1;
  width: 70%;
}
.workstarterchild2 {
  flex-grow: 1;
  padding: 30px;
}
.info1 {
  width: 70%;
}
@media (max-width: 900px) {
  .workstarter {
    text-align: center;
    flex-direction: column;
  }
  .workstarterchild1 {
    width: 95%;
  }
  .workstarterchild2 {
    display: none;
  }
  .info1 {
    width: 95%;
  }
}
.biphoto {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.biphotochild {
  display: block;
  width: 49%;
  height: auto;
}
.triphoto {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.triphotochild {
  display: block;
  width: 32%;
  height: auto;
}
.nopad {
  padding: 0;
}
.notopbotpad {
  padding-bottom: 0;
  padding-top: 0;
}
.flexcontain2col {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
}
.flexchild2col {
  margin: 0 auto;
  width: 50%;
  padding: 15px;
}
@media (max-width: 1200px) {
  .flexcontain2col {
    flex-direction: column;
  }
  .flexchild2col {
    width: 75%;
  }
}
@media (max-width: 525px) {
  .flexchild2col {
    width: 100%;
  }
}
.justified {
  text-align: justify;
  text-justify: inter-word;
}
.experienceicon {
  width: 60px;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  color: #3f3f3f;
}
#experiencecontain {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.experiencechild {
  width: 33%;
}
@media (max-width: 680px) {
  .experiencechild {
    width: 49%;
  }
}
