@import url('https://fonts.googleapis.com/css?family=EB+Garamond:800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,600i');
@font-face {
    font-family: 'aleolight';
    src: url('../fonts/aleo/aleo-light-webfont.eot');
    src: url('../fonts/aleo/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/aleo-light-webfont.woff2') format('woff2'),
         url('../fonts/aleo/aleo-light-webfont.woff') format('woff'),
         url('../fonts/aleo/aleo-light-webfont.ttf') format('truetype'),
         url('../fonts/aleo/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
figure:hover {
  opacity: 1;
}
#pwordmark {
  width: 300px;
  position: fixed;
  margin: 0 auto;
  position: fixed;
  padding-top: 20px;
  left: 50%;
  margin-left: -150px; /* Negative half of width. */
  z-index: 50000;
}
@media (max-width: 992px) {
  #pwordmark {
    position: absolute;
  }
}
.headline h1 {
  position: relative;
  width: 100%;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 4em;
  color:#3f3f3f;
  text-align: center;
  z-index: 5;
}
.heavypad {
  padding: 12%;
}
@media (max-width: 728px) {
  .headline h1 {
    font-size: 3.5em;
  }
  .heavypad {
    margin-top: 28%;
    padding: 5%;
  }
}
@media (max-width: 500px) {
  .headline h1 {
    font-size: 2.5em;
  }
}

nav {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 47vh;
  padding: 0px;
  margin-left: -160px;
  transform: rotate(90deg);
  -webkit-transform: rotateZ(90deg);
  -webkit-transform-origin: 50%  50%;
  display: inline;
  z-index: 5;
}

nav button {
  background-color: transparent;
  color:#F9423A;
  border: none;
  border-spacing: 9px;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 5px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 5px;
  display: inline;
  z-index: 5;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
#emailcontainer {
  position: fixed;
  transform: rotate(90deg);
  text-align: center;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  width: 102vh;
  bottom: 0;
  right: 2.5em;
  line-height: 2em;
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100%  100%;
}
#navemail {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: transparent;
  -webkit-filter: blur(0);
  color:#3f3f3f;
  border: none;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 5px;
  display: inline-block;
  margin: 0 1em;
}

nav button:hover {
  cursor: pointer;
  color:#3f3f3f;
}
.logo {
  display: block;
  width: 330px;
  margin: 0 auto;
  padding-top: 1vh;
  padding-bottom: 50px;
}
.hideme {
    opacity:0;
}
footer {
  margin-top: 10%;
}
.ftlinks {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 15%;
}
.ftbut {
  height: 110px;
  width: 31%;
  flex: none;
  margin: 0 auto;
  background: transparent;
  border: 2.8px solid #F9423A;
  color: #F9423A;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 5px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.ftbutinner {
  margin-left: 3%;
  margin-right: 3%;
}
.ftbut:hover {
  color: #FFF9F5;
  background-color: #F9423A;
}
.availabilitybtn {
  text-align: center;
  height: auto;
  width: auto;
  flex: none;
  padding: 20px;
  margin: 0 auto;
  background-color: #F9423A;
  border: 2.8px solid #F9423A;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.availabilitybtn:hover {
  color: #F9423A;
  background-color: #FFF9F5;
}
.availcontainer {
  text-align: center;
  margin: 0 auto;
}
#values {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight:800;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.2em;
  letter-spacing: 8px;
  text-align: center;
  color: #3f3f3f;
  z-index: -100000;
}
#values:after {
    content: "QUALITY • CURIOSITY • INTEGRITY";
}
#badge {
  margin: 0 auto;
  width: 200px;
}
#copyright {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #A8A8A8;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}
.vertline {
  display: block;
  height: 300px;
  width: 0px;
  border-left: 1.3px solid #D9D9D9;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.tagline {
  padding: 0px;
  font-size: 2.5rem;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  color: #3F3F3F;
}
.servtagline {
  padding: 30px;
  font-size: 2.5rem;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  margin-top: -200px;
  color: #3F3F3F;
}
.servtagline p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 40px;
}
.servtagline p italic {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 300 !important;
  font-size: 1.2rem;
  top: -100px !important;
}
.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left:0;
  z-index: -50;
}

.logentry {
  padding-top: 25px;
  width: 100%;
  margin: 0 auto;
  height: 500px;
  text-align: center;
  color: #3f3f3f;
}
.logentry strong {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
}
.logentry p {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
}
.services strong {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  color: #3f3f3f;
  text-align: center;
  margin: 0 auto;
}
.services p {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
  color: #3f3f3f;
  text-align: center;
}
.logentry button {
  background-color: transparent;
  color:#F9423A;
  border: none;
  border-bottom: 1px solid #F9423A;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  border-spacing: 9px;
  font-size: 0.85em;
  font-weight: 800;
  letter-spacing: 3px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 5px;
  display: inline;
}
.logentry button:hover {
  color: #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
}
@media (min-width: 992px) {
  .logentry {
    width: 455px;
  }
}
@media (min-width: 1200px) {
  .logentry {
    width: 555px;
  }
}
.logentryimg {
  margin: 0 auto;
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .logo {
    width: 300px;
  }
  .tagline {
    font-size: 1.4rem;
    padding-top: 20px;
    opacity: 1;
  }
  .servtagline {
    padding: 5%;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 0px;
    opacity: 1;
    margin-top: 0px;
  }
  .vertline {
    display: none;
  }
  nav {
    display: none;
  }
  #navemail {
    display: none;
  }
  footer .row {
    flex-direction: column;
    align-items: center;
  }
  .ftbut {
    width: 100%;
    margin: 10px;
  }
  .ftbutinner {
    margin-left: 0px;
    margin-right: 0px;
  }
  #values:after {
    display: block;
    white-space: pre;
    content: "QUALITY\A CURIOSITY\A INTEGRITY";
    line-height: 2em;
  }
  #badge {
    margin-top: 13%;
  }
  #copyright:after {
    display: block;
    white-space: pre;
    content: "JOSH@PIONEERMADE.COM";
  }
}
@media (max-width: 1300px) {
  nav {
    z-index: 50;
  }
  #navemail {
    z-index: 50;
  }
}

.portfolio-modal .close-modal {
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 65px;
    height: 65px;
    cursor: pointer;
    z-index: 50;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 2px;
    height: 33px;
    background-color: #3f3f3f;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 40px;
    margin-top: 8px;
}
.portfolio-modal .close-modal:hover .lr {
    background-color: #F9423A;
}
.portfolio-modal .close-modal:hover .rl {
    background-color: #F9423A;
}
.portfolio-modal .close-modal .rl {
    z-index: 1051;
    width: 2px;
    height: 33px;
    background-color: #3f3f3f;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 0px;
    margin-top: 0px;
}
.rl:hover {
    background-color: #F9423A;
}
@media (max-width: 768px) {
  .portfolio-modal .close-modal .lr {
      width: 1.5px;
      height: 35px;
      margin-left: 20px;
      margin-top: 2px;
  }
  .portfolio-modal .close-modal {
      width: 40px;
      height: 40px;
  }
  .portfolio-modal .close-modal .rl {
      width: 1.5px;
      height: 35px;
      margin-left: 0;
  }
}

.servicescontainer {
  display: flex;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 70%;
}

.servicesimg {
  margin: 0 auto;
}
.servicesimg img {
  width: 450px;
}

.services {
  padding-top: 140px;
  text-align: center;
  margin: 0 auto;
}
.services strong {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  color: #3f3f3f;
  text-align: center;
  width: 100%;
  display: inline;
}
.services p {
  padding-top: 10px;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
  color: #3f3f3f;
  text-align: center;
}
@media (max-width: 1200px) {
  .servicescontainer {
    width: 100%;
  }
  .servicesimg img {
    width: 450px;
  }
}
@media (max-width:992px) {
  .servicesimg img {
    width: 350px;
  }
}
@media (max-width: 728px) {
  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
  .servicescontainer {
    width: 100%;
    flex-direction: column;
  }
  .servicesimg img {
    width: 350px;
    padding: 50px;
    padding-bottom: 0px;
  }
  .servicescontainer {
    padding-top: 50px;
  }
  .services {
    padding-top: 0px;
  }
}


@media (max-width: 500px) {
  .servicesimg img {
    width: 300px;
  }
}

.headersplash {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: hidden;
}
.headersplash img {
  position: absolute;
  left: 50%;
  width: 100%;
  /*top: 50%;*/
  -webkit-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
}
.sidedoodcontainer {
  overflow-y: hidden;
}
.headersplash video {
  position: absolute;
  left: 40%;
  width: 70%;
  top: 10%;
  -webkit-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
  z-index: -23342342234523452345343;
}
#video2 {
  position: absolute;
  z-index: -233423452345234542343;
}
@media (max-width: 920px) {
  .headersplash video {
    display: none;
  }
}

/****** PARALLAX *********/

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-perspective: 1px;
  perspective: 1px;
}
.parallax__layer {
  pointer-events: none;
  -o-pointer-events: none;
 -webkit-pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(0.3px) scale(0.7);
  transform: translateZ(0.3px) scale(0.7);
}
.parallax__layer--third {
  -webkit-transform: translateZ(0.7px) scale(0.32);
  transform: translateZ(0.7px) scale(0.32);
}
.parallax__layer--fourth {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--fifth {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}
@media (max-width: 920px) {
  .parallax {
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-perspective: none;
    perspective: none;
  }
  .parallax__layer--base {
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
  }
  .parallax__layer--back {
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
  }
  .parallax__layer--third {
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
    display: none;
  }
  .parallax__layer--fourth {
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
    display: none;
  }
  .parallax__layer--fifth {
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
    display: none;
  }
}
/************** END PARALLAX ******************/


.headlinecirc {
  width: 500px;
  margin: 0 auto;
  display: block;
  margin-top: -130px;
  overflow: hidden;
  z-index: -6555555555;
}
@media (max-width: 728px) {
  .headlinecirc {
    width: 400px;
    margin-top: -100px;
  }
}
@media (max-width: 500px) {
  .headlinecirc {
    width: 250px;
    margin-top: -60px;
  }
}
.headercurve {
  width: 100%;
  position: absolute;
  z-index: 9999999999999;
  margin-top: 100px;
}
#logsquiggles {
  width: 800px;
  position: absolute;
  z-index: -7;
  margin-top: 140px;
  padding-left: 300px;
}
.bgdoodle {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  margin-top: 40%;
  height: auto;
  overflow-y: hidden;
}
.entriescontainer {
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
}
.aboutpara {
  padding-top: 70px;
  color: #3f3f3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-content: stretch;
  flex-wrap: wrap;
}
.para {
  width: 48%;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 20px;
  padding-top: 50px;
}
.para a {
  color: #F9423A;
  text-decoration: none;
}
.para a:hover {
  color: #3f3f3f;
  text-decoration: underline;
}
.para strong {
  letter-spacing: 6px;
  font-size: 1em;
}
@media (max-width: 920px) {
  .aboutpara {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .para {
    width: 100%;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 500px) {
  .para {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.corevalues {
  padding-top: 70px;
  color: #3f3f3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-content: stretch;
  flex-wrap: wrap;
  text-align: center;
}
.values strong {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight:800;
  font-size: 3em;
}
.values {
  width: 32%;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 20px;
  padding-top: 50px;
}
@media (max-width: 920px) {
  .corevalues {
    flex-direction: column;
  }
  .values {
    width: 100%;
    }
}
.miniheader {
  letter-spacing: 6px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: #3f3f3f;
  margin-top: 25px;
  display: inline-block;
}
.numtag {
  height: 1.5px;
  background-color: #F9423A;
  width: 100%;
  margin-bottom: 45px;
}
.circle {
  padding-top: 6px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #FFF9F5;
  background-color: #F9423A;
  height: 40px;
  width: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
}
@media (max-width: 920px) {
  .circle {
    display: none;
  }
}
.sig {
  padding-top: 50px;
  width: 180px;
  text-align: center;
  margin: 0 auto;
  transform:rotate(-10deg);
}
.promise {
  font-size: 3.2rem;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: normal;
  color: #3f3f3f;
  text-align: center;
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 728px) {
  .promise {
    padding-left: 0;
    padding-right: 0;
  }
}
#closeareacontainer {
  background-color: #FFF9F5;
  padding-bottom: 10%;
  width: 100%;
  height: 50%;
}
#closeareacontainer .container {
  padding-left: 0;
  padding-right: 0;
}
.closearea {
  padding-top: 40px;
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  justify-content: space-between;
}
.closebtn {
  padding-top: 0px;
  text-align: center;
  height: 110px;
  width: 30%;
  margin: 0 auto;
  background: transparent;
  border: 2.8px solid #F9423A;
  color: #F9423A;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 10px;
  flex: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.closebtn button {
  background: transparent;
  border: none;
}
@media (max-width: 768px) {
  .closearea {
    flex-direction: column;
    align-items: center;
  }
  .closebtn {
    width: 95%;
    margin: 10px;
  }
}
.closebtninner {
  margin-left: 3%;
  margin-right: 3%;
}
.closearea a {
  height: inherit;
  width: inherit;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: all;
  transition-timing-function: ease;
  color: inherit;
  text-decoration: inherit;
}
@media (max-width: 728px) {
  .closebtninner {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.closebtn:hover {
  cursor: pointer;
  color: #FFF9F5;
  background-color: #F9423A;
}
.portinset {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.butwait {
  padding-top:5%;
  position: relative;
  width: 100%;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 4em;
  color:#3f3f3f;
  text-align: center;
  z-index: 5;
}
@media (max-width: 728px) {
  .butwait {
    font-size: 2em;
  }
}
#agreemodal {
    background-color: #FFF9F5;
    height: 100vh;
}
#agreemodal .butwait {
  padding-top: 300px;
}
#agreemodal .tagline {
  width: 50%;
}

#agreemodal #closeareacontainer {
  background-color: transparent;
}

#agreemodal .closebtn {
  margin: 0;
  width: 45%;
}
#agreemodal .container {
  width: 700px;
}
@media (max-width: 728px) {
  #agreemodal .container {
    width: 100%;
  }
  #agreemodal .closebtn {
    margin: 0;
    width: 90%;
    margin: 10px;
  }
}
#agreemodal .modal-content {
  background-color: transparent;
}
#unchartedbtn {
  color: #3f3f3f;
  background-color: #FFF9F5;
  border: 2.8px solid #3f3f3f;
}
#unchartedbtn:hover {
  color: #FFF9F5;
  background-color: #3f3f3f;
}
#unchartedagree {
  margin-top: 20px;
  color: #FFF9F5;
  background-color: #F9423A;
}
#unchartedagree:hover {
  background-color: #FFF9F5;
  color: #F9423A;
}
.agreemodalsidedood {
  width: 100%;
  z-index: -99999999110041234123412000;
}
.agreemodalsidedood img {
  position: absolute;
  margin-top: -180px;
  width: 100%;
  z-index: -99999999110041234123412000;
}
@media (max-width: 728px) {
  #agreemodal .butwait {
    font-size: 2.5em;
    padding-top: 150px;
  }
  #agreemodal .tagline {
    width: 85%;
  }
}
.pbadge {
  width: 220px;
  margin-right: -165px;
  margin-top: -120px;
  float: right;
  position: relative;
}

.hometile {
  background-color: #F9423A;
  color: white;
  padding: 70px;
  padding-top: 130px;
  border: none;
  outline: none;
  overflow: hidden;
}
.hometile h2 {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 4em;
  text-align: left;
  line-height: 1em;
  padding-top: 20px;
  word-spacing: normal !important;
}
.hometile p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em !important;
  line-height: 1.5em !important;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  padding-top: 30px;
  letter-spacing: normal !important;
}
.hometilebtn {
  width: 100%;
  flex: none;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  background: transparent;
  border: 2.8px solid white;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 5px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.hometile:hover > .hometilebtn {
  color: #F9423A;
  background-color: white;
}

.testimonial {
  color: #3f3f3f !important;
  padding: 80px !important;
  cursor: initial !important;
  letter-spacing: normal !important;
}
.testimonialhead {
height: 120px !important;
width: 120px !important;
text-align: center !important;
margin: 0 auto !important;
border-radius: 50% !important;
display: inline-block !important;
}
.testimonial h4 {
  color: #3f3f3f;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: lighter !important;
}
.testimonial h3 {
  color: #3f3f3f;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
}
.testimonial p {
  padding-top: 20px;
  color: #3f3f3f;
  font-size: 1.8em !important;
  line-height: 1.4em !important;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal !important;
}
#mc_embed_signup {
  background-color:transparent;
  text-align: center;
  clear:left;
  margin: 0 auto;
  width: 100%;
}
#mc_embed_signup_scroll {
  text-align: center;
  width: auto;
  display: inline-flex;
  margin: 0 auto;
  padding-right: 50px;
  width: 70%;
}
#mce-EMAIL {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 15.5px;
}
input[type=email]::placeholder {
  color: #F9423A !important;
}
input[type=email] {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  width: 100%;
  padding: 7px 0px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #F9423A;
  color: #F9423A !important;
  font-size: 2em;
}
input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 5px;
  background-color: #F9423A;
  color: white;
  padding: 20px 40px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  border: 2.8px solid #F9423A;
}
input[type=submit]:hover {
  background-color: transparent;
  color: #F9423A;
  border: 2.8px solid #F9423A;
}
