@import url('https://fonts.googleapis.com/css?family=EB+Garamond:800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,500i,600,600i');
@font-face {
    font-family: 'aleolight';
    src: url('../fonts/aleo/aleo-light-webfont.eot');
    src: url('../fonts/aleo/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/aleo-light-webfont.woff2') format('woff2'),
         url('../fonts/aleo/aleo-light-webfont.woff') format('woff'),
         url('../fonts/aleo/aleo-light-webfont.ttf') format('truetype'),
         url('../fonts/aleo/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
nav {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  margin-top: 47vh;
  padding: 0px;
  margin-left: -160px;
  transform: rotate(90deg);
  -webkit-transform: rotateZ(90deg);
  -webkit-transform-origin: 50%  50%;
  display: inline;
  z-index: 5;
}

nav button {
  background-color: transparent;
  color:#F9423A;
  border: none;
  border-spacing: 9px;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 5px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 5px;
  display: inline;
  z-index: 5;
}
#emailcontainer {
  position: fixed;
  transform: rotate(90deg);
  text-align: center;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  width: 102vh;
  bottom: 0;
  right: 2.5em;
  line-height: 2em;
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100%  100%;
}
#navemail {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  -webkit-filter: blur(0);
  color:#3f3f3f;
  border: none;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 5px;
  display: inline-block;
  margin: 0 1em;
}

nav button:hover {
  cursor: pointer;
  color:#3f3f3f;
}
.logo {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-top: 9vh;
}

.hideme {
    opacity:0;
}
footer {
  margin-top: 10%;
}
.ftlinks {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15%;
}
.ftbut {
  height: 110px;
  width: 31%;
  flex: none;
  margin: 0 auto;
  background: transparent;
  border: 2.8px solid #F9423A;
  color: #F9423A;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: 10px;
}
.ftbutinner {
  margin-left: 3%;
  margin-right: 3%;
}
.ftbut:hover {
  color: #FFF9F5;
  background-color: #F9423A;
}
#values {
  font-family: 'EB Garamond', serif;
  font-weight:600;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.2em;
  letter-spacing: 8px;
  text-align: center;
  color: #3f3f3f;
  z-index: -100000;
}
#values:after {
    content: "QUALITY • CURIOSITY • INTEGRITY";
}
#badge {
  margin: 0 auto;
  width: 200px;
}
#copyright {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #A8A8A8;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}
.vertline {
  display: block;
  height: 300px;
  width: 0px;
  border-left: 1.3px solid #D9D9D9;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.tagline {
  font-size: 3.2rem;
  font-family: 'aleolight', serif;
  font-weight: lighter;
  text-align: center;
  margin: 0 auto;

  color: #3F3F3F;
}
.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left:0;
  z-index: -50;
}

.logentry {
  padding-top: 25px;
  width: 100%;
  margin: 0 auto;
  height: 500px;
  text-align: center;
  color: #3f3f3f;
}
.logentry strong {
  font-family: 'EB Garamond', serif;
  font-size: 2em;
}
.logentry p {
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 10px;
  font-family: 'aleolight', serif;
  font-weight: lighter;
  font-size: 1.4em;
}
.logentry button {
  background-color: transparent;
  color:#F9423A;
  border: none;
  border-bottom: 1px solid #F9423A;
  font-family: 'Montserrat', sans-serif;
  border-spacing: 9px;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 3px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 5px;
  display: inline;
}
.logentry button:hover {
  color: #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
}
@media (min-width: 992px) {
  .logentry {
    width: 455px;
  }
}
@media (min-width: 1200px) {
  .logentry {
    width: 555px;
  }
}
.logentryimg {
  margin: 0 auto;
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .logo {
    width: 300px;
  }
  .tagline {
    font-size: 1.4rem;
    padding-top: 20px;
    opacity: 1;
  }
  .vertline {
    display: none;
  }
  nav {
    display: none;
  }
  #navemail {
    display: none;
  }
  footer .row {
    flex-direction: column;
    align-items: center;
  }
  .ftbut {
    width: 100%;
    margin: 10px;
  }
  .ftbutinner {
    margin-left: 0px;
    margin-right: 0px;
  }
  #values:after {
    display: block;
    white-space: pre;
    content: "QUALITY\A CURIOSITY\A INTEGRITY";
    line-height: 2em;
  }
  #badge {
    margin-top: 13%;
  }
  #copyright:after {
    display: block;
    white-space: pre;
    content: "JOSH@PIONEERMADE.COM";
  }
}
@media (max-width: 1300px) {
  nav {
    z-index: 50;
  }
  #navemail {
    z-index: 50;
  }
}
.portfolio-modal .close-modal {
    color: white;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 65px;
    height: 65px;
    background-color:rgba(255, 255, 255, 0.6);
    opacity: .5
    cursor: pointer;
    z-index: 50;
}

.portfolio-modal .close-modal:hover {
    background-color:rgba(255, 255, 255, 0.9);
    cursor: pointer;
}
#close-m:hover + #portfolioModal15 {
    opacity: 0.5;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 2px;
    height: 63px;
    margin-left: 32px;
    margin-top: 1px;
    background-color: #191919;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 2px;
    height: 63px;
    background-color: #191919;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media (max-width: 768px) {
  .portfolio-modal .close-modal {
    width: 40px;
    height: 40px;
  }
  .portfolio-modal .close-modal .lr {
    width: .5px;
    height: 35px;
    margin-left: 20px;
    margin-top: 2px;
  }
  .portfolio-modal .close-modal .lr .rl {
    width: .5px;
    height: 35px;
    margin-left: 0px;
  }
}
