@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,500,500i,600,600i');
@import url('https://fonts.googleapis.com/css?family=Aleo:300,400,700');
@font-face {
    font-family: 'aleolight';
    src: url('../fonts/aleo/aleo-light-webfont.eot');
    src: url('../fonts/aleo/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo/aleo-light-webfont.woff2') format('woff2'),
         url('../fonts/aleo/aleo-light-webfont.woff') format('woff'),
         url('../fonts/aleo/aleo-light-webfont.ttf') format('truetype'),
         url('../fonts/aleo/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'Nobility Casual';
src: local('Nobility Casual'), url('../fonts/nobilty.woff') format('woff');
font-style: normal;
font-weight: normal;
}
html {
  font-size: 62.5%;
}
html::selection {
  color: #5D0000;
}
@media(min-width: 576px) {
  html {
    font-size: 100%;
  }
}
@media(min-width: 768px) {
  html {
    font-size: 115%;
  }
}
@media(min-width: 992px) {
  html {
    font-size: 135%;
  }
}
@media(min-width: 1200px) {
  html {
    font-size: 150%;
  }
}

html, body {
  width: 100%;
}
#page-wrapper {
  overflow-x: hidden;
}
figure:hover {
  opacity: 1;
}
#pwordmark {
  width: 100px;
  position: fixed;
  margin: 0 auto;
  padding-top: 20px;
  left: 50%;
  margin-left: -50px; /* Negative half of width. */
  z-index: 50000;
}
#pwordmarkmobile {
  display: none;
}
@media (max-width: 800px) {
  #pwordmark {
    display: none;
  }
  #pwordmarkmobile {
    position: fixed;
    margin: 0 auto;
    padding-top: 20px;
    left: 50%;
    margin-left: -40px; /* Negative half of width. */
    display: block;
    width: 80px;
    z-index: 50000;

  }
}

.headline h1 {
  position: relative;
  width: 100%;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 4em;
  color:#3f3f3f;
  text-align: center;
  z-index: 5;
  padding-top: 130px;
}
@media (max-width: 800px) {
  .headline h1 {
    font-size: 3.5em;
      padding-top: 20px;
  }
  .heavypad {
    margin-top: 0px;
    padding: 0px;
  }
}
@media (max-width: 500px) {
  .headline h1 {
    font-size: 2.5em;
  }
}
nav {
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-top: 47vh;
  padding: 0px;
  margin-left: -160px;
  transform: rotate(90deg);
  -webkit-transform: rotateZ(90deg);
  -webkit-transform-origin: 50%  50%;
  display: inline;
  z-index: 5;
}

nav button {
  background-color: transparent;
  color:#F9423A;
  border: none;
  border-spacing: 9px;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 5px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 5px;
  display: inline;
  z-index: 5;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
#emailcontainer {
  position: fixed;
  transform: rotate(90deg);
  text-align: center;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  width: 102vh;
  bottom: 0;
  right: 2.5em;
  line-height: 2em;
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100%  100%;
}
#navemail {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: transparent;
  -webkit-filter: blur(0);
  color:#3f3f3f;
  border: none;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 5px;
  display: inline-block;
  margin: 0 1em;
}

nav button:hover {
  cursor: pointer;
  color:#3f3f3f;
}
.logo {
  display: block;
  width: 380px;
  margin: 0 auto;
}
.hideme {
    opacity:0;
}
footer {
  margin-top: 10%;
}
.ftlinks {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 15%;
}
.ftbut {
  height: 110px;
  width: 31%;
  flex: none;
  margin: 0 auto;
  background: transparent;
  border: 2.8px solid #F9423A;
  color: #F9423A;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 5px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.ftbutinner {
  margin-left: 3%;
  margin-right: 3%;
}
.ftbut:hover {
  color: #FFF9F5;
  background-color: #F9423A;
}
.availabilitybtn {
  text-align: center;
  height: auto;
  width: auto;
  flex: none;
  padding: 20px;
  margin: 0 auto;
  background-color: #F9423A;
  border: 2.8px solid #F9423A;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 4px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.availabilitybtn:hover {
  color: #F9423A;
  background-color: #FFF9F5;
}
.availcontainer {
  text-align: center;
  margin: 0 auto;
}
#values {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight:800;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  font-size: 12px;
  letter-spacing: 9px;
  text-align: center;
  color: #3f3f3f;
  z-index: -100000;
  margin-top: -150px;
}
#badge {
  margin: 0 auto;
  width: 200px;
}
#copyright {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #A8A8A8;
  font-size: 1em;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}
.vertline {
  display: block;
  height: 300px;
  width: 0px;
  border-left: 1.3px solid #D9D9D9;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
.tagline {
  padding: 0px;
  font-size: 2.5rem;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  color: #3F3F3F;
}
.servtagline {
  font-size: 2.5rem;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  color: #3F3F3F;
}
.servtagline p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 40px;
}
.servtagline p italic {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 300 !important;
  font-size: 1.2rem;
  top: -100px !important;
}
.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left:0;
  z-index: -50;
}

.logentry {
  padding-top: 25px;
  width: 100%;
  margin: 0 auto;
  height: 500px;
  text-align: center;
  color: #3f3f3f;
}
.logentry strong {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
}
.logentry p {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
}
.services strong {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  color: #3f3f3f;
  text-align: center;
  margin: 0 auto;
}
.services p {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
  color: #3f3f3f;
  text-align: center;
}
.logentry button {
  background-color: transparent;
  color:#F9423A;
  border: none;
  border-bottom: 1px solid #F9423A;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  border-spacing: 9px;
  font-size: 0.85em;
  font-weight: 800;
  letter-spacing: 3px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 5px;
  display: inline;
}
.logentry button:hover {
  color: #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
}
@media (min-width: 992px) {
  .logentry {
    width: 455px;
  }
}
@media (min-width: 1200px) {
  .logentry {
    width: 555px;
  }
}
.logentryimg {
  margin: 0 auto;
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .logo {
    width: 300px;
  }
  .tagline {
    font-size: 1.4rem;
    padding-top: 20px;
    opacity: 1;
  }
  .servtagline {
    padding: 0px;
    font-size: 1.9rem;
    padding-top: 20px;
    padding-bottom: 0px;
    opacity: 1;
    margin-top: 0px;
  }
  .vertline {
    display: none;
  }
  nav {
    display: none;
  }
  #navemail {
    display: none;
  }
  footer .row {
    flex-direction: column;
    align-items: center;
  }
  .ftbut {
    width: 100%;
    margin: 10px;
  }
  .ftbutinner {
    margin-left: 0px;
    margin-right: 0px;
  }
  #badge {
    margin-top: 13%;
  }
  #copyright:after {
    display: block;
    white-space: pre;
    content: "JOSH@PIONEERMADE.COM";
  }
}
@media (max-width: 520px) {
  .servtagline {
        font-size: 1.3rem;
  }
}
@media (max-width: 1300px) {
  nav {
    z-index: 50;
  }
  #navemail {
    z-index: 50;
  }
}

.portfolio-modal .close-modal {
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 65px;
    height: 65px;
    cursor: pointer;
    z-index: 50;
}
.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 2px;
    height: 33px;
    background-color: #3f3f3f;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 40px;
    margin-top: 8px;
}
.portfolio-modal .close-modal:hover .lr {
    background-color: #F9423A;
}
.portfolio-modal .close-modal:hover .rl {
    background-color: #F9423A;
}
.portfolio-modal .close-modal .rl {
    z-index: 1051;
    width: 2px;
    height: 33px;
    background-color: #3f3f3f;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 0px;
    margin-top: 0px;
}
.rl:hover {
    background-color: #F9423A;
}
@media (max-width: 768px) {
  .portfolio-modal .close-modal .lr {
      width: 1.5px;
      height: 35px;
      margin-left: 20px;
      margin-top: 2px;
  }
  .portfolio-modal .close-modal {
      width: 40px;
      height: 40px;
  }
  .portfolio-modal .close-modal .rl {
      width: 1.5px;
      height: 35px;
      margin-left: 0;
  }
}

.servicescontainer {
  display: flex;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 70%;
}

.servicesimg {
  margin: 0 auto;
}
.servicesimg img {
  width: 450px;
}

.services {
  padding-top: 140px;
  text-align: center;
  margin: 0 auto;
}
.services strong {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  color: #3f3f3f;
  text-align: center;
  width: 100%;
  display: inline;
}
.services p {
  padding-top: 10px;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4em;
  color: #3f3f3f;
  text-align: center;
}
@media (max-width: 1200px) {
  .servicescontainer {
    width: 100%;
  }
  .servicesimg img {
    width: 450px;
  }
}
@media (max-width:992px) {
  .servicesimg img {
    width: 350px;
  }
}
@media (max-width: 728px) {
  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
  .servicescontainer {
    width: 100%;
    flex-direction: column;
  }
  .servicesimg img {
    width: 350px;
    padding: 50px;
    padding-bottom: 0px;
  }
  .servicescontainer {
    padding-top: 50px;
  }
  .services {
    padding-top: 0px;
  }
}


@media (max-width: 500px) {
  .servicesimg img {
    width: 300px;
  }
}

.headersplash {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-y: hidden;
}
.headersplash img {
  position: absolute;
  left: 50%;
  width: 100%;
  /*top: 50%;*/
  -webkit-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
}
.sidedoodcontainer {
  overflow-y: hidden;
}
.headersplash video {
  position: absolute;
  left: 40%;
  width: 70%;
  top: 10%;
  -webkit-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
  z-index: -23342342234523452345343;
}
#video2 {
  position: absolute;
  z-index: -233423452345234542343;
}
@media (max-width: 920px) {
  .headersplash video {
    display: none;
  }
}

/****** PARALLAX *********/

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-perspective: 1px;
  perspective: 1px;
}
.parallax__layer {
  pointer-events: none;
  -o-pointer-events: none;
 -webkit-pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.parallax__layer--back {
  -webkit-transform: translateZ(0.3px) scale(0.7);
  transform: translateZ(0.3px) scale(0.7);
}
.parallax__layer--third {
  -webkit-transform: translateZ(0.7px) scale(0.32);
  transform: translateZ(0.7px) scale(0.32);
}
.parallax__layer--fourth {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--fifth {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
}
@media (max-width: 920px) {
  .parallax {
    -webkit-overflow-scrolling: touch;
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-perspective: none;
    perspective: none;
  }
  .parallax__layer--base {
    -webkit-overflow-scrolling: touch;
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
  }
  .parallax__layer--back {
    -webkit-overflow-scrolling: touch;
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
  }
  .parallax__layer--third {
    -webkit-overflow-scrolling: touch;
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
    display: none;
  }
  .parallax__layer--fourth {
    -webkit-overflow-scrolling: touch;
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
    display: none;
  }
  .parallax__layer--fifth {
    -webkit-overflow-scrolling: touch;
    background-attachment: scroll;
    background-size: 100% 100%;
    -webkit-transform: none;
    transform: none;
    display: none;
  }
}
/************** END PARALLAX ******************/


.headlinecirc {
  width: 400px;
  margin: 0 auto;
  display: block;
  margin-top: -110px;
  overflow: hidden;
  z-index: -6555555555;
}
@media (max-width: 728px) {
  .headlinecirc {
    width: 400px;
    margin-top: -100px;
  }
}
@media (max-width: 500px) {
  .headlinecirc {
    width: 250px;
    margin-top: -60px;
  }
}
.headercurve {
  width: 100%;
  position: absolute;
  z-index: 9999999999999;
  margin-top: 100px;
}
#logsquiggles {
  width: 800px;
  position: absolute;
  z-index: -7;
  margin-top: 140px;
  padding-left: 300px;
}
.bgdoodle {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  margin-top: 40%;
  height: auto;
  overflow-y: hidden;
}
.entriescontainer {
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
}
.aboutpara {
  padding-top: 70px;
  color: #3f3f3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-content: stretch;
  flex-wrap: wrap;
}
.para {
  width: 28%;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 20px;
  padding-top: 15px;
  padding-bottom: 50px;
  border-top: 2px solid #3f3f3f;
}
.para a {
  color: #F9423A;
  text-decoration: none;
}
.para a:hover {
  color: #3f3f3f;
  text-decoration: underline;
}
@media (max-width: 920px) {
  .aboutpara {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .para {
    width: 100%;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 500px) {
  .para {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.corevalues {
  color: #3f3f3f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-content: stretch;
  flex-wrap: wrap;
  text-align: center;
}
.values strong {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight:800;
  font-size: 3em;
}
.values {
  width: 32%;
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  padding: 20px;
  padding-top: 50px;
}
@media (max-width: 920px) {
  .corevalues {
    flex-direction: column;
  }
  .values {
    width: 100%;
    }
}
.miniheader {
  letter-spacing: 6px;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: #3f3f3f;
  margin-top: 25px;
  display: inline-block;
}
.numtag {
  height: 2px;
  background-color: #3f3f3f;
  width: 100%;
  margin-bottom: 45px;
}
.circle {
  padding-top: 6px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  color: #FFF9F5;
  background-color: #F9423A;
  height: 40px;
  width: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  border-radius: 50%;
  display: inline-block;
}
@media (max-width: 920px) {
  .circle {
    display: none;
  }
}
.sig {
  padding-top: 50px;
  width: 180px;
  text-align: center;
  margin: 0 auto;
  transform:rotate(-10deg);
}
.promise {
  font-size: 3.2rem;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: normal;
  color: #3f3f3f;
  text-align: center;
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 728px) {
  .promise {
    padding-left: 0;
    padding-right: 0;
  }
}
#closeareacontainer {
  background-color: #FFF9F5;
  padding-bottom: 10%;
  width: 100%;
  height: 50%;
}
#closeareacontainer .container {
  padding-left: 0;
  padding-right: 0;
}
.closearea {
  padding-top: 40px;
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  justify-content: space-between;
}
.closebtn {
  padding-top: 0px;
  text-align: center;
  height: 110px;
  width: 30%;
  margin: 0 auto;
  background: transparent;
  border: 2.8px solid #F9423A;
  color: #F9423A;
  font-size: 1.7em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 10px;
  flex: none;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.closebtn button {
  background: transparent;
  border: none;
}
@media (max-width: 768px) {
  .closearea {
    flex-direction: column;
    align-items: center;
  }
  .closebtn {
    width: 95%;
    margin: 10px;
  }
}
.closebtninner {
  margin-left: 3%;
  margin-right: 3%;
}
.closearea a {
  height: inherit;
  width: inherit;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: all;
  transition-timing-function: ease;
  color: inherit;
  text-decoration: inherit;
}
@media (max-width: 728px) {
  .closebtninner {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.closebtn:hover {
  cursor: pointer;
  color: #FFF9F5;
  background-color: #F9423A;
}
.portinset {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.butwait {
  padding-top:5%;
  position: relative;
  width: 100%;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 4em;
  color:#3f3f3f;
  text-align: center;
  z-index: 5;
}
@media (max-width: 728px) {
  .butwait {
    font-size: 2em;
  }
}
#agreemodal {
    background-color: #FFF9F5;
    height: 100vh;
}
#agreemodal .butwait {
  padding-top: 300px;
}
#agreemodal .tagline {
  width: 50%;
}

#agreemodal #closeareacontainer {
  background-color: transparent;
}

#agreemodal .closebtn {
  margin: 0;
  width: 45%;
}
#agreemodal .container {
  width: 700px;
}
@media (max-width: 728px) {
  #agreemodal .container {
    width: 100%;
  }
  #agreemodal .closebtn {
    margin: 0;
    width: 90%;
    margin: 10px;
  }
}
#agreemodal .modal-content {
  background-color: transparent;
}
#unchartedbtn {
  color: #3f3f3f;
  background-color: #FFF9F5;
  border: 2.8px solid #3f3f3f;
}
#unchartedbtn:hover {
  color: #FFF9F5;
  background-color: #3f3f3f;
}
#unchartedagree {
  margin-top: 20px;
  color: #FFF9F5;
  background-color: #F9423A;
}
#unchartedagree:hover {
  background-color: #FFF9F5;
  color: #F9423A;
}
.agreemodalsidedood {
  width: 100%;
  z-index: -99999999110041234123412000;
}
.agreemodalsidedood img {
  position: absolute;
  margin-top: -180px;
  width: 100%;
  z-index: -99999999110041234123412000;
}
@media (max-width: 728px) {
  #agreemodal .butwait {
    font-size: 2.5em;
    padding-top: 150px;
  }
  #agreemodal .tagline {
    width: 85%;
  }
}
.pbadge {
  width: 130px;
  margin-right: -105px;
  margin-top: -40px;
  float: right;
  position: relative;
}
@media (max-width: 992px) {
  .pbadge {
    width: 130px !important;
    margin-right: -80px !important;
    margin-top: -10px !important;
  }
}
@media (max-width: 768px) {
  .pbadge {
    width: 110px !important;
    margin-right: -80px !important;
    margin-top: -30px !important;
  }
}
.hometile {
  background-color: #F9423A;
  color: white;
  padding: 70px;
  padding-top: 70px;
  border: none;
  outline: none;
  overflow: hidden;
}
@media (max-width: 992px) {
  .hometile {
    padding: 40px;
  }
}
@media (max-width: 768px) {
  .hometile {
    padding: 50px;
  }
}
.hometile h1 {
  color: white;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  text-align: left;
  line-height: 1em;
  padding-top: 0px;
  word-spacing: normal !important;
}
@media (max-width: 992px) {
  .hometile h1 {
    font-size: 39px;
  }
}
@media (max-width: 767px) {
  .hometile h1 {
    font-size: 58px;
  }
}
@media (max-width: 510px) {
  .hometile h1 {
    font-size: 30px;
  }
}
.hometile p {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px !important;
  line-height: 1.5em !important;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  padding-top: 0px;
  letter-spacing: normal !important;
}
@media (max-width: 510px) {
  .hometile p {
    font-size: 18px !important;
  }
}
.hometilebtn {
  width: 100%;
  flex: none;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  background: transparent;
  border: 2.8px solid white;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 5px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.hometile:hover > .hometilebtn {
  color: #F9423A;
  background-color: white;
}
.articlecontain {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}
.articletile {
  color: white !important;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: left;
  z-index: 5555555555;
  background: rgba(24.7, 24.7, 24.7, 0.6);
  padding-right: 40px;
  padding-left: 20px;
  padding-top: 0px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  position: absolute;
  height: 150px;
  overflow-y: hidden;
  bottom: 0;
}
.articletile h4 {
  font-size: 22px;
}
@media (max-width: 1200px) {
  .articletile h4 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
.articlecontain:hover > .articletile {
  background: rgba(24.7, 24.7, 24.7, 0.9);
  margin-top: 0;
  height: 350px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}
}
.readmorebtn {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 5px;
  background: transparent;
  border: 2.8px solid white;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 170px;
  margin-top: 20px;
  text-align: center;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease;
}
.articletile:hover > .readmorebtn {
  color: #3f3f3f;
  background-color: white;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}
@media (max-width: 992px) {
  .articletile h4 {
    font-size: 14px;
    padding-bottom: 500px;
  }
  .articletile {
    height: 120px;
  }
}
@media (max-width: 767px) {
  .articletile h4 {
    font-size: 3.6vw;
  }
  .articletile h5 {
    font-size: 2vw;
  }
  .articletile {
    height: 26vw;
  }
}
.chevronsvg {
  position: absolute !important;
  margin-top: -50px !important;
  right: 0 !important;
  margin-right: 15px !important;
  width: 10px !important;
}
.portbtn {
  opacity: 1;
  background-color: #3f3f3f;
  position: absolute;
  z-index: 5555555555;
  width: 100%;
  text-align: center;
  flex: none;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: -120px;
  background: transparent;
  color: white;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 5px;
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
}
.portlink:hover > .portbtn {
  background: rgba(24.7, 24.7, 24.7, 0.6);
  margin-top: 0px !important;
}
.testimonial {
  color: #3f3f3f !important;
  padding: 80px !important;
  cursor: initial !important;
  letter-spacing: normal !important;
  border: 1px solid #cccccc;
}
.testimonialhead {
height: 90px !important;
width: 90px !important;
text-align: center !important;
margin: 0 auto !important;
border-radius: 50% !important;
display: inline-block !important;
}

.testimonial h4 {
  color: #3f3f3f;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: lighter !important;
}
.testimonial h3 {
  color: #3f3f3f;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
}
.testimonial p {
  padding-top: 20px;
  color: #3f3f3f;
  font-size: 1.5em !important;
  line-height: 1.4em !important;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal !important;
}
@media (max-width: 992px) {
  .testimonial p {
    font-size: 1.2em !important;
    line-height: 1.4em !important;
  }
  .testimonial {
    padding: 30px !important;
  }
}
#mc_embed_signup {
  background-color:transparent;
  text-align: center;
  clear:left;
  margin: 0 auto;
  padding-top: 70px;
  width: 100%;
}
#mc_embed_signup_scroll {
  text-align: center;
  width: auto;
  display: inline-flex;
  margin: 0 auto;
  padding-right: 50px;
  width: 60%;
}
#mce-EMAIL {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 15.5px;
}
input[type=email]::placeholder {
  color: #F9423A !important;
}
input[type=email] {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  width: 100%;
  padding: 7px 0px;
  margin: 5px 0;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #F9423A;
  color: #F9423A !important;
  font-size: 2em;
}
input[type=submit] {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 5px;
  background-color: #F9423A;
  color: white;
  padding: 20px 40px;
  margin-left: 30px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  border: 2.8px solid #F9423A;
}
input[type=submit]:hover {
  background-color: transparent;
  color: #F9423A;
  border: 2.8px solid #F9423A;
}
@media (max-width: 992px) {
  #mc_embed_signup_scroll {
    padding-right: 0px;
    width: 75%;
  }
  #mce-EMAIL {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 5px;
  }
  input[type=email] {
    width: 100%;
    padding: 4px 0px;
    margin: 3px 0;
    font-size: 1.8em;
  }
  input[type=submit] {
    font-size: 1em;
    padding: 10px 20px;
  }
}
@media (max-width: 510px) {
  input[type=email] {
    width: 100%;
    padding: 4px 0px;
    margin: 3px 0;
    font-size: 1em;
  }
  input[type=submit] {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}
#navemail {
  text-align: left;
  font-size: 1rem;
  color: white;
  left: 20px;
  position: fixed;
  top: 10%;
}
#navemail p {
  font-size: 1.6em !important;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: left;
  margin: 0 auto;
  color: white;
  letter-spacing: 0px;
}
.threemissions {
  padding-top: 50px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.phasecolumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
.missioncircle {
  margin: 0 auto;
  padding: 20px;
  width: 250px;
  height: 250px;
  border-radius: 50% !important;
  background-color: #F9423A;
  color: white;
  text-align: center;
}
.missioncircle p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  padding-top:20px;
  font-size: 1.8em;
  line-height: 1.4em;
}
.missionplus {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 0px;
  color: #F9423A;
  padding-top: 90px;
}
.missionletter {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.3em;
  letter-spacing: 0px;
  padding-top: 10px;
}
.missioncircle p {
  font-size: 2.6em;
}
@media (max-width: 992px) {
  .threemissions {
    flex-direction: column;
  }
  .missionplus {
    padding-top: 0px;
  }
}
.brandingandmarketing {
  margin: 0 auto;
  width: 100%;
  padding-top: 0px;
  display: flex;
}
.brandingandmarketing h1 {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 4em;
  color: #3f3f3f;
  flex-direction: row;
}
@media (max-width: 992px) {
  .brandingandmarketing {
    flex-direction: column;
    margin: 0 auto;
  }
  .brandingservices {
    margin: 0 auto;
    text-align: center;
  }
  .marketingservices {
    margin: 0 auto;
    text-align: center;
  }
}
.brandingservices {
  padding: 50px;
  justify-content: flex-start;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 50%;
}
.marketingservices {
  padding: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}
@media (max-width: 768px) {
  .brandingservices {
    width: 90%;
  }
  .marketingservices {
    width: 90%;
  }
}
.servicebox {
  display: inline-block;
  border: 3px solid #3f3f3f;
  color:#3f3f3f;
  width: 315px;
  height: 75px;
  padding: 18px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0px;
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
.servicebox h8 {
  font-size: 1.6em;
  text-align: center;
  opacity: 1;
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
.servicebox p {
  font-weight: 400;
  margin-top: -34px;
  color: white;
  font-size: 1.1em;
  opacity: 0;
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
.servicebox:hover {
  background-color: #3f3f3f;
}
.servicebox:hover h8 {
  opacity: 0;
}
.servicebox:hover p {
  font-size: 1.1em;
  opacity: 1;
}
#serviceboxes .servicebox h7 {
  display: block;
  position: absolute;
  margin-left: 277px;
  margin-top: 2px;
  background-color: #FFF9F5;
  z-index: 55555555;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3em;
  color: #3f3f3f;
  border: 3px solid #3f3f3f;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
@media (max-width: 920px) {
  #serviceboxes .servicebox h7 {
    display: none;
  }
}
@media (max-width: 450px) {
  .brandingservices {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .servicebox {
    display: block;
  }
}
@media (max-width: 350px) {
  .servicebox {
    width: 315px;
  }
}

#password {
  position: relative;
  height: 70px;
  width: 240px;
  font-size: 3.8em;
  letter-spacing: 0.3em;
  color: #3f3f3f;
  text-align: center;
  border: 3px solid #3f3f3f;
  background-color: #FFF9F5;
  padding: 20px;
  padding-left: 35px;
  margin: 0 auto;
  display: inline-block;
  margin-left: -150px;

}
#password::placeholder {
  position: fixed;
  margin-top: -30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.3em;
  letter-spacing: 10px;
  text-align: center;
  color: #3f3f3f;
  opacity: 0.5;
}
#submitpasscode {
  position: absolute;
  display: inline-block;
  height: 70px;
  width: 130px;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  background-color: #3f3f3f;
  border: 3px solid #3f3f3f;
}
#submitpasscode:hover {
  background-color: #FFF9F5;
  color: #3f3f3f;
}
#approvebar {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  background-color: #3f3f3f;
  color: white;
  z-index: 3848918848;
}
#approvebtn {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 50px;
  margin-top: 10px;
  outline: 0;
  border: 0;
  width: 280px;
  height: 80px;
  text-align: center;
  color: white;
  background-color: #3f3f3f;
  border: 3px solid #FFF9F5;
}
#approvebtn:hover {
  background-color: white;
  color: #3f3f3f;
}
.startparent {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}
.startitem {
  width: 25%;
  padding-top: 20px;
  margin: 50px;
  border-top: 2px solid #3f3f3f;
}
#emailnow {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.8em;
  margin-bottom: 50px !important;
}
@media (min-width: 700px) {
  #emailnow {
    font-size: 1.3em;
    margin-top: 50px !important;
  }
  .emailnow {
    padding-top: 30px;
  }
}
@media (min-width: 992px) {
  #emailnow {
    font-size: 1.8em;

  }
}
@media (max-width: 700px) {
  .startparent {
    flex-direction: column;
  }
  .startitem {
    width: 100%;
    margin: 5px;
  }
}
.rewards {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.3em;
  letter-spacing: normal;
  text-align: center;
  color: #3f3f3f;
}
.rewards strong {
  font-size: 1.3em;
  color: #F9423A;

}

.form-control {
  text-align: center !important;
  font-size: 24px !important;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
  border: none;
  -webkit-border-radius: 0;
  background: transparent;
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  border: 1.5px solid #3f3f3f !important;
  color: #F9423A !important;
  padding: 30px;
  resize: none;
}
.control-group label {
  letter-spacing: 5px;
}
.form-group {
  margin: 0 auto;
  text-align: center;
}
.packagescontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
@media (max-width: 650px) {
  .packagescontainer {
    flex-direction: column;
  }
}
.sidepackagebtn {
  display: none !important;
  border: 2px solid #F9423A;
  display: inline-block;
  height: 75px;
  width: 120px;
  line-height: 72px;
  border-radius: 50%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  padding-top:0;
  margin: 25px;
  color: #F9423A;
  margin-top: 175px;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.sidepackagebtn:hover {
  background-color: #F9423A;
  color: white;
}
@media (max-width: 800px) {
  .sidepackagebtn {
    display: none;
  }
}
.package {
  background-color: #F9423A;
  color: white;
  margin: 25px;
  margin-top: 40px;
  width: 23%;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
@media (max-width: 1200px) {
  .package {
    width: 28%;
    margin: 15px;
  }
}
@media (max-width: 992px) {
  .package {
    width: 33%;
    margin: 10px;
  }
}
@media (max-width: 650px) {
  .package {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
}
.package strong {
  font-weight: 600;
}
.package img {
  padding: 25px;
}
.packagebtn {
  margin: 25px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 5px;
  color: #F9423A;
  border: 3px solid white;
  background-color: white;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.packagebtn:hover {
  cursor: pointer;
  color: white;
  background-color: #F9423A;
}
.packagelist {
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid white;
  border-radius: 5px;
}
.guaranteeparent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: #3f3f3f;
}
#guaranteeheader {
  margin: 0 auto;
  margin-top: 6em;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 5px;
  color: #3f3f3f;
}
.guaranteeitem {
  font-size: 2.5em;
  font-family: 'aleolight', serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.guaranteeitem img {
  width: 20px;
  margin: 0 auto;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.activationsparent {
  display: flex;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  color: #3f3f3f;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .activationsparent {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
#activationsheader {
  color: #3f3f3f;
  text-align: center;
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 1em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5em;
}
.activationsitem {
  margin: 0 auto;
  margin-left: 2em;
  margin-right: 2em;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5em;
  margin-bottom: 2em;
}
.activationsitem img {
  width: 70px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1em;
}
.somethingelse {
  text-align: center;
  margin: 0 auto;
  color: #3f3f3f;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5em;
  margin-bottom: 3em;
  margin-top: 3em;
}
.somethingelse strong {
  font-weight: 600;
}
.getstartedbtn {
  display: inline-block;
  margin: 0 auto;
  margin-top: 2em;
  text-align: center;
  background-color: #F9423A;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 5px;
  padding: 25px;
  border: 3px solid #F9423A;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.getstartedbtn:hover {
  cursor: pointer;
  background-color: #FFF9F5;
  color: #F9423A;
}
.quoteimg {
  width: 150px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: -100px;
}
.topomatch {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 999999999999999999999 !important;
  width: 100%;
  background-color: transparent;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: all;
  transition-timing-function: linear;
}

/* The progress container (grey background) */
.progress-container {
  z-index: 99999999999999999 !important;
  width: 100%;
  height: 4px;
  background-color: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  z-index: 99999999999999999 !important;
  height: 4px;
  background: #F9423A;
  width: 0%;
  overflow-y: visible;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.2);
}

@media (max-width: 992px) {
  .progress-container {
    height: 4px;
  }
  .progress-bar {
    height: 4px;
    background: #F9423A;
  }
}
.articlehead {
  position: relative;
  display: block;
  text-align: center;
  background-color: #FFF9F5;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: -10vw;
  z-index: 9 !important;
}
@media (max-width: 500px) {
  .articlehead {
    padding-left: 20px;
    padding-right: 20px;
  }
  .articlehead p {
    font-size: 16px;
    line-height: 1.6em;
  }
  .articlehead h1 {
    font-size: 30px;
  }
  .articlehead .quote {
    font-size: 30px;
  }
}
.articlehead .firsthfive {
  background-color: #3f3f3f;
  color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: -50px;
}
.vertstroke {
  height: 100px;
  width: 1px;
  background-color: #3f3f3f;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}
.quote {
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0px;
  line-height: normal;
  color: #3f3f3f;
  padding: 10px;
}
@media (max-width: 900px) {
  .quote {
    padding-left: 0;
    padding-right: 0;
  }
}



.bgcontainer {
  overflow: hidden;
  position: relative;
  height: 290px;
  width: 100%;
  margin-bottom: 50px;
  background-image: url('../img/headerbg.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 576px) {
  .bgcontainer {
    height: 500px;
  }
}
@media (min-width: 768px) {
  .bgcontainer {
    height: 600px;
  }
}

.footerbg {
  width: 100%;
}
.cornerlines {
  width: 22rem;
  position: absolute;
  z-index: 10;
  right: -5rem;
  top: -5.7rem;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.wordmark {
  width: 4.5rem;
  padding-top: 2rem;
  z-index: 5;
}
h1 {
  color: #5D0000;
  font-family: 'Nobility Casual';
  font-weight: normal;
  font-size: 2rem;
  z-index: 5;
  margin-top: 0.2rem !important;
  margin-bottom: 0.2rem !important;
}
.bgcontainer h1 {
  padding-top: 100px;
}
@media (min-width: 576px) {
  .bgcontainer h1 {
    padding-top: 200px;
  }
}

h2 {
  color: #FFF9F5;
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6rem;
  z-index: 5;
  margin-top: 0.1rem !important;
  margin-bottom: 0.1rem !important;
}
.nopad {
  padding: 0;
}

.ftbgcontainer {
  overflow: hidden;
  position: relative;
  height: 290px;
  width: 100%;
  margin-top: 0px;
  background-image: url('../img/footerbg.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.ftbgcontainer h1 {
  color: #F9423A;
}
@media (min-width: 576px) {
  .ftbgcontainer {
    height: 500px;
  }
}
@media (min-width: 768px) {
  .ftbgcontainer {
    height: 600px;
  }
}
.empoweremblem {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  width: 5.5rem;
}
#footerform {
  padding: 0px;
  width: 25rem;
  max-width: 80vw;
  height: 3rem;
  margin-top: 2rem;
}
#emailform2 {
  position: absolute;
  display: inline-block !important;
  background-color: #f9423A;
  border: solid 0px #F9423A;
  border: none;
  border-width: 0px;
  outline: none;
  border-radius: 300px;
  height: 100%;
  width: 100% !important;
  font-size: 1.1rem !important;
  font-weight: 500;
  color: #fff9f5 !important;
  text-align: left !important;
  margin: 0 auto;
  padding-left: 1.4rem;
  padding-right: 3rem;
  margin-left: 0px;
  text-decoration: none;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out;
}
#emailform2::placeholder {
  color: #FFF9F5 !important;
}
#emailform2:hover {
  background-color: #5D0000;
  border: solid 1px #F9423A;
  color: #FFF9F5 !important;
}
#emailform2:focus {
    border: solid 1px #fff9f5 !important;
    background-color: #5D0000 !important;
}

#sendbtn2 {
  position: absolute;
  display: inline-block !important;
  background-color: #F9423A !important;
  border: none !important;
  border-radius: 300px;
  height: 2.6rem;
  width: 2.6rem;
  right: 0.19rem;
  top: 0.18rem !important;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out;
}
#sendbtn2:hover {
  background-color: #5D0000 !important;
}
#buttonbglines {
  pointer-events: none;
  width: 2.6rem;
  height: 2.6rem;
  fill: #5D0000;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-out;
}
#chevbtn {
  fill: none;
  stroke: #fff9f5;
  stroke-width: 3px;
  position: absolute;
  margin-top: -2.1rem !important;
  width: 1.3rem;
  height: 1.3rem;
  margin-left: -0.5rem !important;
  z-index: 10;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}
#sendbtn2:hover #chevbtn {
  stroke: #fff9f5 !important;
  stroke-width: 10px;
}

.footeremblem {
  width: 9rem;
  left: 70vw;
  margin-top: -4.3rem;
  position: absolute;
}
.contactfooter {
  height: 300px;
  background-color: #F9423A;
  background-image:url('../img/tinylinesbg.svg');
  line-height: 0.1rem;
 background-position: center;
}

.footinfo {
  padding-top: 3rem;
}

.top2rem {
  padding-top: 1rem;
}
